body {
	margin: 0;
	padding: 3%;
	font-family: "Allerta", "Trebuchet MS", Arial, sans-serif;
}
p { margin: 0; padding:0;}
h1, h2 { margin-top:0; padding-top: 0; text-transform:uppercase;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#presentation {
	width: 100%;
}
	#slide { width: 100%;}
		img#imgSlide { width: 100%;}

		article p { font-size: .9em;}

		nav{ width: 100%; margin-top: 5%;}
		nav button { 
			width: 25%;
			float: left;
		}

/* Bij een iPad resolutie */
@media screen and (min-width:1024px){
	
	section { float: left; width: 80%; height: 600px;}
	img#imgSlide { width: 40%;}
	article { width: 55%; float: right; margin: 0 2%;}
	article p { font-size: 1.5em;}
	nav { float: right; width: 20%;}
	nav button { float: none; width: 100%; height: 100px; margin-bottom:15%;}
}